<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
            crossorigin="anonymous"
        />
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"
        ></script>
        <link
            rel="stylesheet"
            href="/css/egyediFilm.css"
        />
        <title>Mozi</title>
    </head>
    <body>
        <%- include('./nav.ejs') %>
        <div class="egyediFilm">
            <h1><%= film.cim %></h1>
            <hr class="rounded">
            <div id="ket-gomb">
              <a href="/api/cinema/egyedifilmmodosit/<%= film._id %>">Módosít</a>
              <button onclick="torolFilm('<%= film._id %>')">Töröl</button>
            </div>
            <img src="/images/<%= film.plakat %>" alt="<%= film.cim %>">
            <div class="arkategoria">
              <p>A film hossza: <%= film.hossz %> perc</p>
              <hr>
              <p>Státuszok:</p>
              <ul>
                <% for( let i = 0; i < film.statuszok.length; i++ ) { %>
                <li><%= film.statuszok[i] %></li>
                <% } %>
              </ul>
              <hr>
              <p>Kategória:</p>
                <ul>
                    <% for( let i = 0; i < film.kategoriak.length; i++ ) { %>
                    <li><%= film.kategoriak[i] %></li>
                    <% } %>
                </ul>
                <hr>
                <ul>
                    <p>Leírás:</p>
                    <%= film.leiras %>
                </ul>
            </div>
            </div>
          </div>
        <script src="/js/egyediFilm.js"></script>
        <script>
            function torolFilm(id) {
              if (confirm("A törlés végleges! Tényleg törölni szeretné ezt a filmet?")) {
                torol(id);
              }
            }
          </script>
    </body>
</html>
