<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
            crossorigin="anonymous"
        />
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"
        ></script>
        <link
            rel="stylesheet"
            href="/css/nezok.css"
        />
        <style>
            h1 {
                color: black;
            }
        </style>
        <title>Nezok</title>
    </head>
    <body>
        <%- include('./nav.ejs') %>
        <div class="container">
            <h1 class="felhasznalok-felirat">Felhasználók</h1>
            <hr class="rounded">
            <div class="row">
                <div class="col-12">
                    <input
                        type="text"
                        id="kereso"
                        placeholder="Keresés e-mail cím alapján"
                        oninput="kereso()"
                    />
                </div>
            </div>
            <div class="row" id="felhasznalok">
                <% for( let j = 0; j < nezok.length; j++ ) { %>
                <div class="col-sm-12 col-lg-6 col-xl-4">
                    <h3>E-mail:</h3>
                    <p><%= nezok[j].email %></p>
                    <h3>Státusz:</h3>
                    <p><%= nezok[j].statusz %></p>
                    <h3>Avatar:</h3>
                    <img
                        src="/images/output/<%= nezok[j].avatar %>"
                        alt="<%= nezok[j].avatar %>"
                    />
                    <p style="color: red;">Figyelem! A törlés visszavonhatatlan!</p>
                    <button onclick="confirmTorles('<%= nezok[j]._id%>')">
                        Törlés
                    </button>
                </div>
                <% } %>
            </div>
        </div>
        <script src="/js/nezotorol.js"></script>
        <script>
            function confirmTorles(id) {
                if (confirm("Biztosan törölni szeretnéd a felhasználót?")) {
                    torles(id);
                }
            }

            function kereso() {
                const keresoInput = document.getElementById("kereso");
                const keresoErtek = keresoInput.value.toLowerCase();
                const felhasznalok = document.getElementById("felhasznalok");
                const felhasznaloKartyak = felhasznalok.children;

                for (let i = 0; i < felhasznaloKartyak.length; i++) {
                    const felhasznaloKartya = felhasznaloKartyak[i];
                    const email = felhasznaloKartya.querySelector("p").textContent.toLowerCase();

                    if (email.includes(keresoErtek)) {
                        felhasznaloKartya.style.display = "block";
                    } else {
                        felhasznaloKartya.style.display = "none";
                    }
                }
            }
        </script>
    </body>
</html>