<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
            crossorigin="anonymous"
        />
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"
        ></script>
        <link
            rel="stylesheet"
            href="/css/sorozatok.css"
        />
        <style>
            body {
            }

            h3 {
                color: black;
            }
            label {
                color: black;
            }
            p {
                color: black;
            }
            h1 {
                color: black;
            }
            .img {
                width: 200px;
                height: 350px;
            }
        </style>
        <title>sorozatok</title>
    </head>
    <body>
        <%- include('./nav.ejs') %>
        <div class="nezok-container">
            <h1 class="nezok-felirat">Sorozatok</h1>
            <hr class="rounded">
            <div class="col-12">
                <input
                    type="text"
                    id="kereso"
                    placeholder="Keresés sorozat cím alapján"
                    oninput="kereso()"
                />
            </div>
            <div class="row">
                <% for( let j = 0; j < sorozatok.length; j++ ) { %>
                    <div class="col-sm-12 col-lg-6 col-xl-4">
                      <img
                        src="/images/<%= sorozatok[j].plakat %>"
                        alt="<%= sorozatok[j].cim %>"
                      />
                      <h3>
                        <%= sorozatok[j].cim %>
                      </h3>
                      
                      <button class="adatok-gomb">
                        <a href="egyedisorozat/<%= sorozatok[j]._id %>">Adatok</a>
                      </button>
                    </div>
                  <% } %>
            </div>
        </div>
        <script>
            function kereso() {
                const keresoInput = document.getElementById("kereso");
                const keresoErtek = keresoInput.value.toLowerCase();
                const sorozatokContainer = document.querySelector(".nezok-container");
                const sorozatokKartyak = sorozatokContainer.querySelectorAll(".col-sm-12.col-lg-6.col-xl-4");

                for (let i = 0; i < sorozatokKartyak.length; i++) {
                    const sorozatokKartya = sorozatokKartyak[i];
                    const sorozatokCim = sorozatokKartya.querySelector("h3").textContent.toLowerCase();

                    if (sorozatokCim.includes(keresoErtek)) {
                        sorozatokKartya.style.display = "block";
                    } else {
                        sorozatokKartya.style.display = "none";
                    }
                }
            }
        </script>
    </body>
</html>